.rewards_icon{
  width: 24px;
}

#leaderboard ul{
  list-style: none;
}

.card {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 24px;
  border-radius: 8px;
  margin: 12px 0px;
  box-shadow: 0px 0px 40px -10px rgba(86, 108, 81, 0.9);
}

#donut-balance-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#donut-balance-and-icon{
  margin:auto;
}

#total-donations{
  text-align: center;
}

#donut-balance-and-icon{
  display: flex;
  justify-content: space-between;
}

.leaderboard_num{
  display: flex;
  justify-content: space-between;
}

