/*
body{
    background-color: #899d84;
}

#dashboard-body {
  margin: auto;
  width: 100%;
}

.side-nav {
  position: fixed;
  height: 100%;
  padding-top: 7em;
  padding-left: 2%;
  width: 20%;
  background-color: rgb(255, 255, 255, 0.8);
}

#content {
  flex-direction: row;
  display: inline-flex;
  justify-content: center;
  float: right;
  width: 80%;
  margin:auto;
  margin-top: 5%;
}

#dashboard-middle {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#dashboard-middle img {
  width: 60%;
}

#dashboard-right {
  margin-right: 5%;
  width: 25%;
  float: right;
}

.side-nav ul {
  list-style-type: none;
}

.side-nav ul li a {
  text-decoration: none;
}
*/

.rewards_icon{
  width: 24px;
}

#leaderboard ul{
  list-style: none;
}

.card {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 24px;
  border-radius: 8px;
  margin: 12px 0px;
  box-shadow: 0px 0px 40px -10px rgba(86, 108, 81, 0.9);
}

#donut-balance-container{
  text-align: center;
}

#total-donations{
  text-align: center;
}

#donut-balance-and-icon{
  display: flex;
  justify-content: space-between;
}

.leaderboard-num{
  display: flex;
}