body{
    margin: 0;
}

img{
    border-radius: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
.wrapper{
    position: relative;
    width: 90%;
    height: 8rem;
    top: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    margin-right: auto;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    padding-right: 92px;
}

  /* Links inside the navbar */
nav a{
    color: black;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
}
  
  /* Change background on mouse-over */
nav a:active {
    font-weight: 700;
    color: black;
}

footer{
    background-color: #6DAC7F;
    color: white;
    width: 100%;
    position: relative;
    margin: 0;
}

.footercontent{
    width: 80%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.right img{
    width: 25.54px;
    filter: invert(100%) sepia(4%) saturate(314%) hue-rotate(253deg) brightness(115%) contrast(100%);
    padding-right: 33px;
}

/** homepage**/

.landing{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.landingwords button{
    margin-left: 35%;
    margin-right: 38%;
    margin-top: 2rem;
}
.landingwords{
    margin-left: 10rem;
}

.landing img{
    box-shadow: rgba(0,0,0,0) 0px 2px 8px 0px;
}

.marketingbkg{
    background-color: #6DAC7F;
}
.marketing{
    width: 80%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20rem;
    padding-bottom: 10rem;
}

.left1{
    margin-right: 7rem;
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 20rem;
}

.right2{
    margin-left: 7rem;
}

.changing{
    color: #520C0E;
}

.imgs img{
    width: 550px;
}

.join{
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.join h2{
    text-align: center;
    margin-bottom: 5rem;
}

.join p{
    margin: 5rem;
}

/** education pg **/

#educate{
    width: 60%;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.intro{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20rem;
}

.intro p{
    margin-left: 4rem;
}

.intro img{
    box-shadow: rgba(0,0,0,0) 0px 2px 8px 0px;
}

.intro a{
    color: #ED7A77;
}


.info2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20rem;
}

.info2 h2{
    margin-bottom: 1rem;
}

.info2 a{
    color: #ED7A77;
}

ul{
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

li{
    font-size: 31px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    margin-bottom: 2rem;
}

.info3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20rem;
}

.info3 a{
    color: #ED7A77;
}

.info3 h2{
    margin-bottom: 1rem;
}

#howitworks{
    width: 60%;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.steps{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10rem;
}

.steps img{
    width: 624px;
}

.steps h1{
    margin-right: 3rem;
}

.s1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.s2{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.s3{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.s4{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.s4 img{
    border-radius: 50%;
}

.lefti{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-left: 5rem;
}


.righti{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 5rem;
}
