/** 
font family link for html:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
**/

html{
    font-family: 'DM Sans', sans-serif;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;    
}

h1{
    font-size: 96px;
    font-weight: 700;
    line-height: 125px;
    letter-spacing: 0em;
}

h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;


}

h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
}

h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;

}

h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

h6{
    font-size: 24px;
    font-weight: 500;
    line-height: 31.25px;
}

.h7{
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;

}

.h8{
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
}

.body1{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    
}

.body2{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;

}

.body3{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.body4{
    font-size: 31px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}

.body5{
    font-size: 35px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
}

.body6{
    font-size: 32px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;

}

.body7{
    font-size: 31px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
}

.body9{
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;

}

.body10{
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
}

.body11{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;

}

.italic{
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.02em;
}

.italicgreen{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
}

.italicgreenbig{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;

}

.tinybutton{
    font-size: 9px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
}

.primaryblk{
    border-radius: 30px;
    border: solid black;
    background-color: black;
    margin: 5px;
    padding: 16px 32px 16px 32px;
}

.primarygr{
    border-radius: 15.3px;
    border: solid #566B51;
    background: #566B51;
    color: white;
    margin: 5px;
    padding: 8px;
}

.secondaryblk{
    border-radius: 18.72px;
    border: solid black;
    background-color: rgba(0,0,0,0);
    padding: 7px 27px 7px 27px;
}

.secondarygr{
    border-radius: 15.3px;
    border: solid 2px #566B51;
    color: #566B51;
    background-color: rgba(0,0,0,0);
    padding: 8.16px;
}

.signbtn-round{
    background-color: #6B8465;
}

.svchange{
    background-color: #6B8465;
    border-radius: 12.37px;
    border: solid #6B8465;
    padding: 34px 17px 34px 17px;
}

.signbtn{
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    background-color: #6DAC7F;
    border-radius: 9px;
    border: solid 1.5px black;
    padding: 16px 31px 16px 31px;
}

.bigsignbtn{
    background-color: #6DAC7F;
    border-radius: 9px;
    border: solid 2px black;
    padding: 16px 31px 16px 31px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
}

.roundbtn{
    background-color: #6DAC7F;
    border-radius: 20.74px;
    border: solid black;
    padding: 25px 48px 25px 48px;
} 

.bigroundbtn{
    background-color: #6DAC7F;
    color: white;
    border-radius: 30px;
    border: solid black;
    padding: 16px 32px 16px 32px;
    width: 276px;
   
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;

}

