/* CSS for webpages with a user view */

* {
  padding: 0;
  margin: 0;
}

body{
  background-color: #899d84;
}

.content-body {
/* display: flex; */
margin: auto;
width: 100%;
}

.side-nav {
/* display: inline-block; */
position: fixed;
/* float: left; */
height: 100%;
padding-top: 7em;
padding-left: 2%;
width: 20%;
background-color: rgb(255, 255, 255, 0.8);
box-shadow: 0px 0px 60px 10px rgba(86, 108, 81, 0.9);
}

.content {
flex-direction: row;
display: inline-flex;
justify-content: center;
float: right;
width: 80%;
margin:auto;
margin-top: 5%;
}

#dashboard-middle, #profile-settings {
margin-left: auto;
margin-right: auto;
width: 50%;
}


#dashboard-right {
margin-right: 5%;
width: 25%;
float: right;
}

.side-nav ul {
list-style-type: none;
}

.side-nav ul li a {
text-decoration: none;
}

#profile-settings {
margin-left: auto;
margin-right: auto;
width: 30%;
}

#profile-settings > * {
background-color: rgb(255, 255, 255, 0.8);
padding: 40px;
border-radius: 50px;
margin-bottom: 20px;
}

.profile-info {
margin-right: 5%;
width: 40%;
float: right;
background-color: rgb(255, 255, 255, 0.8);
padding: 40px;
border-radius: 20%;
}


/* Charity + Rewards CSS */
.intro {
  padding-bottom: 50px;
}

/* Charity CSS */


/* Rewards CSS */
.rewards-wrapper {
  width: 80%;

}

.reward {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  margin: 50px 0px 50px 0px;
  padding: 25px;

  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 0px 40px -10px rgba(86, 108, 81, 0.9);
}

.reward-arrow {
  height: 50px;
  width: 50px;
}

.profile-card h4, p {
  margin: 0;
  /* margin-bottom: 20px; */
}

.profile h4 {
  margin-bottom: 20px
}

.profile-info > * {
  padding: 10px;
  background-color: #98b191;
  border-radius: 30px;
  margin-bottom: 20px;
}

.profile-double-field {
  display:inline-flex;
}
